
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    text-align: center;
    width: 70%;
    margin: auto;

}

img {
    transition: transform 0.50s;
}

.photo:hover img {
    transform: scale(1.2);
}

table {
    width: 85%;
    /* Ширина таблицы */
    border-collapse: collapse;
    /* Убираем двойные линии между ячейками */
    box-shadow: 10px 5px 5px #296461;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    background-color: #80bdba;

}

td,
th {
    padding: 3px;
    /* Поля вокруг содержимого таблицы */
    border: 1px solid rgb(57, 125, 116);
    /* Параметры рамки */
}

th {
    background: #72b0ad;
    /* Цвет фона */
    color: rgb(12, 1, 1);
    /* Цвет текста */
}

tbody tr:hover {
    background: #5e9a97;
    /* Цвет фона при наведении */
    color: rgb(12, 1, 1);
    /* Цвет текста при наведении */
}

